<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @user.name %>!</h1>
    <p>
      It's been awhile since you last review, please come back to Gain of Salt!
    </p>
  </body>
</html>
