<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there!</h1>
    <p> Your friend  <%= @user.name %> has invited you to join Grain of Salt.  Please sign-up using the following link!</p>
    link_to "Sign-up", root_path
  </body>
</html>
