* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.nav-bar-left {
  background: white;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 10px;
  width: 280px;
  top: 0;
  left: 0;
}

.nav-bar-left h1 {
  color: white;
}

.nav-bar-left img {
  background: #FF0C2B;
  padding: 5px;
  width: 100%;
  max-height: 250px;
}

.nav-bar-left ul {
  padding: 10px;
}

.nav-bar-left ul li {
  list-style-type: none;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #FF0C2B;
  font-size: 20px;
  color: #FF0C2B;
  padding-left: 20px;
}

.nav-bar-left ul li i {
  color: #FF0C2B;
  font-size: 20px;
  font-weight: bold;
}

.nav-bar-left ul li:hover {
  background: #FF0C2B;
  transition: all ease 0;
  cursor: pointer;
  list-style-type: none;
  color: white;
}

.nav-bar-left ul li:hover i {
  color: white;
}

.logo {
  color: #FF0C2B;
  background: white;
  width: 100%;
  padding: 10px;
  height: 100px;
  border-radius: 10px 10px 30px 30px;
}

.logo h1 {
  font-size: 45px;
  font-weight: bolder;
}

.main-body-home {
  background: #E6EFF2;
}

.reviews {
  padding: 10px;
  margin-top: 15px;
  background: white;
  max-height: 300px;
  max-width: 800px;
  border-radius: 10px 10px 20px 20px;
}

@media (min-width: 768px) {
  .nav-bar-left {
    width: 25vw;
  }
}

@media (max-width: 760px) {
  .nav-bar-left {
    display: none;
  }
  .main-body-right {
    margin-left: 0;
  }
}
