.signup-page-text{
  font-family: 'Eczar', serif;
  font-size: 130px;
}
.landing-container{
  background: url(/images/landingpage1.jpg);
  background-size: cover;
  color: white;
  font-weight: bolder;
  height: 100vh;
  padding-top: 90px;
}
.landingpage-box{
  padding: 20px;
  opacity: .9;
  margin-top: 20px;
  h1{
    font-family: lobster, serif;
    font-size: 130px;
  }
  h3{
    padding-bottom: 50px;
  }
  a{
    border-radius: 24px;
    background: transparent;
    border: 1px solid rgba(25, 133, 161, 1);
    color: rgba(25, 133, 161, 1);
    padding: 10px;
    font-size: 25px;
    margin-left: 40px;
    &:hover{
      background: rgba(25, 133, 161, 1);
      border: 1px solid white;
      color: white;
      text-decoration: none;
    }
  }
}
