.signup-page-text {
  font-family: 'Eczar', serif;
  font-size: 130px;
}

.landing-container {
  background: url(/images/salt2.jpg);
  background-size: cover;
  color: white;
  font-weight: bolder;
  height: 100vh;
  padding-top: 90px;
}

.landing-container h1 {
  font-family: 'Eczar', serif;
  font-size: 130px;
}

.landing-container h3 {
  padding-bottom: 80px;
}

.landing-container button {
  border-radius: 24px;
  background: transparent;
  border: 1px solid white;
}
