.signup-page-text{
  font-family: 'Eczar', serif;
  font-size: 130px;
}
.landing-container{
  // background: url(/images/salt2.jpg);
  background: #253240;
  background-size: cover;
  color: white;
  font-weight: bolder;
  height: 100vh;
  padding-top: 90px;
}
.landingpage-box{
  background: #4CD2B9;
  padding: 20px;
  opacity: .9;
  margin-top: 20px;
  h1{
    font-family: 'Eczar', serif;
    font-size: 130px;
  }
  h3{
    padding-bottom: 80px;
  }
  button{
    border-radius: 24px;
    background: #4CD2B9;
    border: 1px solid #4CD2B9;
    color: white;
    padding: 10px;
    border-radius: 10px;
    &:hover{
      background: #4CD2B9;
      color: white;
      text-decoration: none;
    }
  }
}
