/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 26px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 10px;
  background: #45CAAB;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #2B3642;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  border-bottom: 1px solid white;
  text-align: center;
}

.menu-item:hover {
  background: #0FAF9B;
  transition: all ease 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
