//sidebar popout menu
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 10px;
  background: #E2624B;
  position: fixed;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #8ca2ad;
}

/* General sidebar styles */
.bm-menu {
  background: #252626;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  // position: fixed;
  z-index: 201;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

//menu items
.menu-item{
  color: #8ca2ad;
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  border-bottom: 1px solid #8ca2ad;
  text-align: center;
  &:hover{
    background: #4CD2B9;
    transition: all ease 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

//media query for mobile
@media (min-width: 768px) {
    .bm-burger-button{
        display: none;
    }
}
@media (max-width: 767px) {
  .menu-item{
    font-size: 14px;
  }
}
