$col1: rgba(25, 133, 161, 1);
$col2: rgba(220, 220, 221, 1);
$col8: #252626;
// $col8: rgba(70, 73, 76, 1);
$col3: #E2624B;
$col5: #8ca2ad;
$col7: #E6EFF2;
$br: 10px;



*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.head-nav-wrapper{
    color: white;
    text-align: center;
    height: 70px;
    margin: 0;
    .head-nav-left{
        background: $col1;
        height: 70px;
    }
    .head-nav-middle{
        background: $col1;
        height: 75px;
        padding-bottom: 30px;
        h1{
            font-size: 40px;
            font-family: Lobster;
            padding: 10px;
            margin: 0;
        }
    }
    .head-nav-right{
        background: $col1;
        height: 70px;
        padding: 0px;
        button{
            border-radius: $br;
            font-size: 19px;
            background: $col1;
            border: none;
            &:hover{
                background: transparent;
                transform: scale(1.1);
                border: 1px solid white;
            }
        }
        i{
            padding: 5px;
        }
    }
}
.home-middle-section{
    padding: 0;
    margin: 0;
    .home-middle-left{
        // background: $col8;
        background: url(/images/footer_lodyas.png);
        color: $col5;
        height: 93vh;
        h4{
            padding: 5px;
            margin: 0;
        }
        p{
            padding: 0;
        }
        .badge{
            background: white;
            color: black;
        }
        img{
            min-width: 100px;
            min-height: 100px;
            padding: 10px;
            border-radius: 100%;
        }
        ul{
            list-style: none;
            padding: 0px;
            li{
            padding: 20px;
            font-size: 90%;
            cursor: pointer;
            padding-left: 0;
            color: $col5;
            text-decoration: none;
            &.active{
                background: $col3;
                color: white;
            }
            &:hover{
                background: $col1;
                color: white;
                }
                img{
                    height: 100px;
                }
            }
        }
    }
    .home-middle-middle{
        background: url(/images/brushed_alu2X.png);
        height: 93vh;
        overflow: scroll;
        .homepage-box{
            background: $col2;
            box-shadow: 5px 5px 10px lightgrey;
            padding: 20px;
            margin-top: 90px;
            h2{
                padding: 10px;
                margin: 0;
            }
        }

        .home-middle-middle-readreview-inner{
            margin: 5px;
            padding: 20px;
            background: $col2;
            box-shadow: 5px 5px 10px lightgrey;
            line-height: 15px;
            p{
                padding: 0;
                margin: 0;
            }
            .readreview-img{
            }
        }
        .home-middle-middle-readreview-place{
            width: 100%;
            margin: 5px;
            padding: 10px;
            background: $col2;
            box-shadow: 5px 5px 10px lightgrey;
            img{
                height: 200px;
                width: 300px;
            }
        }

        //css for reviews on home page
        .home-middle-middle-review{
            margin-bottom: 15px;
            padding: 10px;
            background: $col2;
            box-shadow: 5px 5px 10px lightgrey;
            overflow: hidden;
            line-height: 15px;
            min-height: 200px;
            max-height: 500px
            h4{
                padding: 0;
            }
            .col-sm-4 >p{
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            h5{
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 90px;
                white-space: nowrap;
                &:hover, &:focus{
                    white-space: normal;
                    transition: all 0.9s ease;
                }
            }
            img{
                width: 100px;
                height: 100px;
                padding: 5px;
                border-radius: 100%;
            }
        }

        //css for myreviews on myprofile
        .my-review-row{
            padding-left: 90px;

        }
        .home-middle-middle-myreview{
            background: $col2;
            margin: 10px;
            box-shadow: 5px 5px 10px lightgrey;
            .delete-review{
                i{
                    padding: 0;
                    margin: 0;
                }
            }
            img{
                width: 100%;
                height: 200px;
            }
            h5, h4, p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 95%;
                padding: 0;
                margin: 0;
            }

            .recommend-button-section{
                padding: 20px;
                margin-top: 30px;

            }
        }

        //css for friends
        .home-middle-middle-friends{
            background: $col2;
            margin: 15px;
            padding: 10px;
            box-shadow: 5px 5px 10px lightgrey;
            border-radius: $br;
            h1{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow:  hidden;
                width: 80%;
                &:hover{
                    overflow: visible;
                }
            }
            img{
                min-height: 150px;
                min-width: 150px;
            }

        }

        //css for search
        .home-middle-middle-search{
            .home-middle-middle-search-review{
                margin: 5px;
                margin-bottom: 15px;
                padding: 10px;
                background: $col2;
                width: 300px;
                height: 350px;
                box-shadow: 5px 5px 10px lightgrey;
                h4, h5{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:  hidden;
                    width: 80%;
                    &:hover{
                        overflow: visible;
                    }
                }

                .read-review-button{
                    background: $col5;
                    color: white;
                    border: 1px solid white;
                    min-width: 60px;
                    min-height: 40px;
                }
                .post-review-button{
                    background: $col1;
                    color: white;
                    border: 1px solid white;
                    min-width: 60px;
                    min-height: 40px;
                }

            }
        }

        //css for friends profile
        .home-middle-middle-friends-profile{
            img{
                min-width: 100px;
                min-height: 100px;
                border-radius: 100%;
            }
            .friends-profile-background{
                background: url(/images/footer_lodyas.png);
                background-position: center;
                background-size: cover;
                padding: 10px;
                h3, h4, h5{
                    color: white;
                }
                img{
                    width: 250px;
                }

            }
            .friend-profile-name{
                color: $col1;
                font-size: 60px;
            }
            .home-middle-middle-friendsreview{
                background: $col2;
                margin: 10px;
                box-shadow: 5px 5px 10px lightgrey;
                img{
                    padding: 10px;
                    width: 250px;
                    height: 250px;
                }
            }
        }

        //css for my profile
        .my-profile-background{
            background-image: url(/images/footer_lodyas.png);
            color: white;
            img{
                border-radius: 100%;
            }
        }
        //css for post a review page
        .post-review-section{
            padding: 20px;
            .post-review{
                padding: 10px;
                box-shadow: 5px 5px 10px lightgrey;
                background: $col2;
                textarea {
                	box-sizing: border-box;
                	width: 100%;
                    white-space: pre-wrap;
                }
            }
        }
        .post-review-header{
            // background:$col3;
            background: url(/images/footer_lodyas.png);
            color: white;
            margin-bottom: 10px;
            h1{
                font-family: lobster;
            }
        }

    }
    .home-middle-right{
        // background: $col2;
        background: url(/images/footer_lodyas.png);
        height: 93vh;
        text-align: center;
        overflow: scroll;
        h1{
            color: #6A8795;
        }
        .home-each-friend{
            padding: 20px;
            background: $col1;
            border-radius: $br;
            margin-top: 8px;
            color: white;
            img{
                min-width: 40px;
                min-height: 40px;
                border-radius: 100%;
            }
            .badge{
                background: white;
                color: black;
            }
        }
    }
}
.input-group{
  z-index: 0;
}
.friends-button{
    width: 150px;
    height: 40px;
    background: $col1;
    color:white;
}
.my-button{
    background: $col1;
    color: white;
    border: 1px solid white;
    border-radius: $br;
    padding: 8px;
    font-size: 18px;
}
.invite-section{
    padding: 10px;
}
#invite-input{
    height: 40px;
    font-size: 20px;
}
#invite-friend-button{
    height: 40px;
    font-size: 20px;
    color: white;
    &:hover{
        color: white;
    }
}
.myfriends-list{
    padding: 20px;
    padding-left: 60px;
}
.ReactModal__Overlay--after-open {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    .ReactModal__Content--after-open{
        background: url(/images/brushed_alu2X.png) !important;
        top: 40px;
        bottom: 40px;
        left: 250px !important;
        right: 250px !important;

    }
    .rec-modal-friends{
        max-width: 300px;
        max-height: 400px;
        h5{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:  hidden;
            width: 90%;
        }
        img{
            max-height: 20px;
            max-height: 250px;
        }
    }
}

@media ( max-width : 768px ) {
    .head-nav-wrapper{
        .head-nav-middle{
            width: 100%;
            position: fixed;
            z-index: 100;
        }
    }
    .friends-button{
        min-width: 50px;
        min-height: 20px;
        background: $col1;
        color:white;
    }
    .home-middle-section{
        .home-middle-middle{
            overflow: visible !important;
            height: 100%;
            .home-middle-middle-review{
                h5{
                    overflow: visible;
                    white-space: normal;
                    height: 100%;
                }
                img{
                    height: 80px;
                    width: 80px;
                }
            }
            .my-review-row{
                padding-left: 0;
            }
        }
    }

    .myfriends-list{
        padding: 0;
    }
    .ReactModal__Overlay--after-open {
        position: fixed;
        top: 45px;
        left: -20px;
        right: -20px;
        bottom: -30px;
        background: url(/images/footer_lodyas.png);
        .ReactModal__Content--after-open{
            background: url(/images/brushed_alu2X.png) !important;
            top: 40px;
            bottom: 40px;
            left: 40px !important;
            right: 40px !important;

        }
    }
}

.friend-button-changer{
    background: grey;
}

.middle-nav{
    font-size: 40px;
    color: #6A8795;
    padding-bottom: 20px;
    .divider{
        border-left: 2px solid grey;
        padding: 5px;
    }
}

.no-friends{
    display: none;
}
