@charset "UTF-8";
/* RGB */
h1 {
  font-family: Lobster, sans-serif;
      font-weight: 400;
      line-height: 46px;
      font-size: 40px;
      margin: 0 0 23px 0;
}

h2, h4, h5 {
  font-family: Lobster;
      font-weight: 800;
      font-size: 18px;
      line-height: 23px;
      margin: 0 0 23px 0;
}

p {
      font-family: Open Sans, sans-serif;
      font-size: 14px;
      line-height: 23px;
      margin: 0 0 23px 0;
}

.head-nav-wrapper {
  color: white;
  text-align: center;
  height: 70px;
  padding: 20;
  margin: 0;
}

.head-nav-wrapper .head-nav-left {
  background: #4CD2B9;
  height: 70px;
}

.head-nav-wrapper .head-nav-middle {
  background: #4CD2B9;
  height: 75px;
  padding-bottom: 30px;
}

.head-nav-wrapper .head-nav-middle h1 {
  font-size: 40px;
  font-family: Lobster;
}

.head-nav-wrapper .head-nav-right {
  background: #4CD2B9;
  height: 70px;
  padding: 0px;
}

.head-nav-wrapper .head-nav-right button {
  border-radius: 3px;
  font-size: 19px;
  background: #4CD2B9;
  border: none;
}

.head-nav-wrapper .head-nav-right button:hover {
  background: #E2624B;
  transform: scale(1.1);
}

.head-nav-wrapper .head-nav-right i {
  padding: 5px;
}

.home-middle-section {
  padding: 0;
  margin: 0;
}

.home-middle-section .home-middle-left {
  background: #252626;
  color: #8ca2ad;
  height: 93vh;
}

.home-middle-section .home-middle-left img {
  width: 100%;
  padding: 10px;
}

.home-middle-section .home-middle-left ul {
  list-style: none;
  padding: 0px;
}

.home-middle-section .home-middle-left ul li {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  padding-left: 0;
  color: #8ca2ad;
  text-decoration: none;
}

.home-middle-section .home-middle-left ul li:hover {
  background: #4CD2B9;
  color: white;
}

.home-middle-section .home-middle-middle {
  background: #E6EFF2;
  height: 93vh;
  overflow: scroll;
  padding: 30px;
}

.home-middle-section .home-middle-middle .homepage-box {
  background: white;
  padding: 20px;
}

.home-middle-section .home-middle-middle .homepage-box h2 {
  padding: 10px;
}

.home-middle-section .home-middle-middle .homepage-box .my-button {
  background: #4CD2B9;
  color: white;
  border: 1px solid white;
  border-radius: 1px;
  padding: 8px;
  font-size: 18px;
}

.home-middle-section .home-middle-middle .home-middle-middle-review {
  margin: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-review h4 {
  padding: 0;
  text-overflow: ellipsis;
}

.home-middle-section .home-middle-middle .home-middle-middle-review img {
  width: 100%;
  padding: 5px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends {
  background: white;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends h1:hover {
  overflow: visible;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review {
  margin: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  width: 300px;
  height: 350px;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h4, .home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h4:hover, .home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h5:hover {
  overflow: visible;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review .read-review-button {
  background: #0FAF9B;
  color: white;
  border: 1px solid white;
  border-radius: 1px;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review .post-review-button {
  background: #e54040;
  color: white;
  border: 1px solid white;
  border-radius: 1px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile {
  background: #E2624B;
  height: 35vh;
  padding: 10px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile .friend-profile-name {
  color: white;
  font-size: 60px;
}

.home-middle-section .home-middle-right {
  background: white;
  height: 93vh;
  text-align: center;
}

.home-middle-section .home-middle-right h1 {
  color: #8ca2ad;
}

.home-middle-section .home-middle-right .home-each-friend {
  padding: 20px;
  background: #4CD2B9;
  border-radius: 3px;
  margin-top: 8px;
}

.home-middle-section .home-middle-right .home-each-friend img {
  width: 100%;
}

@media (max-width: 760px) {
  .head-nav-left {
    display: none;
  }
  .home-middle-left {
    display: none;
  }
  .home-middle-right {
    display: none;
  }
}
