$col1: rgba(25, 133, 161, 1);
$col2: rgba(220, 220, 221, 1);
$col8: #252626;
$col3: #E2624B;
$col5: #8ca2ad;
$col7: #E6EFF2;

/* RGB */
// $col5: rgba(220, 220, 221, 1);
// $col3: rgba(197, 195, 198, 1);
// $col8: rgba(70, 73, 76, 1);
// $col7: rgba(76, 92, 104, 1);
// $col1: rgba(25, 133, 161, 1);


.head-nav-wrapper{
    color: white;
    text-align: center;
    height: 70px;
    padding: 20;
    margin: 0;
    .head-nav-left{
        background: $col1;
        height: 70px;
    }
    .head-nav-middle{
        background: $col1;
        height: 75px;
        padding-bottom: 30px;
        h1{
            font-size: 40px;
            font-family: Lobster;
            padding: 10px;
            margin: 0;
        }
    }
    .head-nav-right{
        background: $col1;
        height: 70px;
        padding: 0px;
        button{
            border-radius: 3px;
            font-size: 19px;
            background: $col1;
            border: none;
            &:hover{
                background: transparent;
                transform: scale(1.1);
                border: 1px solid white;
            }
        }
        i{
            padding: 5px;
        }
    }
}
.home-middle-section{
    padding: 0;
    margin: 0;
    .home-middle-left{
        background: $col8;
        color: $col5;
        height: 93vh;
        img{
            width: 100%;
            padding: 10px;
        }
        ul{
            list-style: none;
            padding: 0px;
            li{
            padding: 20px;
            font-size: 25px;
            cursor: pointer;
            padding-left: 0;
            color: $col5;
            text-decoration: none;
            &:hover{
                background: $col1;
                color: white;
                }
            }
        }
    }
    .home-middle-middle{
        background: $col7;
        height: 93vh;
        overflow: scroll;
        padding: 30px;
        .homepage-box{
            background: white;
            padding: 20px;
            h2{
                padding: 10px;
            }

        }
        //css for reviews on home page
        .home-middle-middle-review{
            // border: 4px solid white;
            margin: 15px;
            margin-bottom: 15px;
            padding: 10px;
            background: rgba(220, 220, 221, 1);
            box-shadow: 5px 5px 10px lightgrey;
            height: 200px;
            width: 500px;
            h4{
                padding: 0;
                text-overflow: ellipsis;
            }
            p{
                margin: 0;
            }
            h5{
                margin: 0;
            }
            img{
                width: 100%;
                padding: 5px;
            }
        }

        //css for myreviews on myprofile
        .home-middle-middle-myreview{
            background: $col2;
            margin: 10px;
            height: 500px;
            width: 300px;
            box-shadow: 5px 5px 10px lightgrey;
            p{
                margin: 0;
            }
            img{
                width: 100%;
                height: 200px;
            }
        }

        //css for friends
        .home-middle-middle-friends{
            // border: 5px solid $col7;
            background: $col2;
            margin: 15px;
            padding: 10px;
            box-shadow: 5px 5px 10px lightgrey;
            h1{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow:  hidden;
                width: 80%;
                &:hover{
                    overflow: visible;
                }
            }
        }

        //css for search
        .home-middle-middle-search{
            .home-middle-middle-search-review{
                margin: 5px;
                margin-bottom: 15px;
                padding: 10px;
                background: white;
                width: 300px;
                height: 350px;
                box-shadow: 5px 5px 10px lightgrey;
                h4, h5{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:  hidden;
                    width: 80%;
                    &:hover{
                        overflow: visible;
                    }
                }
                .read-review-button{
                    background: #0FAF9B;
                    color: white;
                    border: 1px solid white;
                    border-radius: 1px;
                }
                .post-review-button{
                    background: #e54040;
                    color: white;
                    border: 1px solid white;
                    border-radius: 1px;
                }

            }
        }

        //css for friends profile
        .home-middle-middle-friends-profile{
            padding: 10px;
            img{
                width: 300px;
                height: 300px;
            }
            .friend-profile-name{
                color: $col1;
                font-size: 60px;
            }
            .home-middle-middle-friendsreview{
                background: $col2;
                margin: 10px;
                box-shadow: 5px 5px 10px lightgrey;
                img{
                    padding: 10px;
                }
            }
        }

    }
    .home-middle-right{
        // background: white;
        background: $col2;
        height: 93vh;
        text-align: center;
        h1{
            color: $col5;
        }
        .home-each-friend{
            padding: 20px;
            background: $col1;
            border-radius: 50px;
            margin-top: 8px;
            color: white;
            img{
                width: 100%;
                // border-radius: 24px;
            }
        }
    }
}

.my-button{
    background: $col1;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    padding: 8px;
    font-size: 18px;
}

@media ( max-width : 760px ) {
    .head-nav-left{
        display: none;
    }
    .home-middle-left{
        display: none;
    }
    .home-middle-right{
        display: none;
    }
}
