$col1: #4CD2B9;
$col2: #253240;
$col8: #252626;
$col3: #E2624B;
$col4: #353942;
$col5: #8ca2ad;
$col6: #b2acab;
$col7: #E6EFF2;

.head-nav-wrapper{
    color: white;
    text-align: center;
    height: 70px;
    padding: 0;
    margin: 0;
    .head-nav-left{
        background: $col1;
        height: 70px;
    }
    .head-nav-middle{
        background: $col1;
        height: 75px;
        padding-bottom: 30px;
        h1{
            font-size: 45px;
        }
    }
    .head-nav-right{
        background: $col1;
        height: 70px;
        padding: 20px;
        button{
            border-radius: 3px;
            width: 150px;
            height: 40px;
            font-size: 19px;
            padding: 5px;
            background: $col1;
            border: 1px solid white;
            &:hover{
                background: $col3;
                transform: scale(1.1);
            }
        }
        i{
            padding: 5px;
        }
    }
}
.home-middle-section{
    padding: 0;
    margin: 0;
    .home-middle-left{
        background: $col8;
        color: $col5;
        height: 93vh;
        img{
            width: 100%;
            padding: 10px;
        }
        ul{
            list-style: none;
            text-decoration: none;
            padding: 0px;
            li{
            padding: 20px;
            font-size: 25px;
            cursor: pointer;
            padding-left: 0;
            &:hover{
                background: $col1;
                color: white;
                }
            }
        }
    }
    .home-middle-middle{
        background: $col7;
        height: 93vh;
        overflow: scroll;
        padding: 30px;
        //css for reviews on home page
        .home-middle-middle-review{
            // border: 4px solid white;
            margin: 5px;
            margin-bottom: 15px;
            padding: 10px;
            background: white;
            // width: 300px;
            // height: 300px;
            h4{
                padding: 0;
                text-overflow: ellipsis;
            }
            img{
                width: 100%;
                padding: 5px;
            }
        }

        //css for friends
        .home-middle-middle-friends{
            // border: 5px solid $col7;
            background: white;
            margin: 15px;
            padding: 10px;
        }

        //css for search
        .home-middle-middle-search{
            .home-middle-middle-search-review{
                margin: 5px;
                margin-bottom: 15px;
                padding: 10px;
                background: white;
                width: 300px;
                height: 350px;
                .read-review-button{
                    background: #0FAF9B;
                    color: white;
                    border: 1px solid white;
                    border-radius: 1px;
                }
                .post-review-button{
                    background: #e54040;
                    color: white;
                    border: 1px solid white;
                    border-radius: 1px;
                }
            }
        }

        //css for friends profile
        .home-middle-middle-friends-profile{
            background: $col3;
            height: 20vh;
            padding: 10px;
            .friend-profile-name{
                color: white;
                font-size: 60px;
            }
        }
    }
    .home-middle-right{
        background: white;
        height: 93vh;
        text-align: center;
        h1{
            color: $col4;
        }
        .home-each-friend{
            padding: 20px;
            background: $col2;
            border-radius: 3px;
            margin-top: 8px;
            img{
                width: 100%;
                // border-radius: 24px;
            }
        }
    }
}


@media ( max-width : 760px ) {
    .head-nav-left{
        display: none;
    }
    .home-middle-left{
        display: none;
    }
    .home-middle-right{
        display: none;
    }
}
