/* RGB */
.head-nav-wrapper {
  color: white;
  text-align: center;
  height: 70px;
  margin: 0;
}

.head-nav-wrapper .head-nav-left {
  background: #1985a1;
  height: 70px;
}

.head-nav-wrapper .head-nav-middle {
  background: #1985a1;
  height: 75px;
  padding-bottom: 30px;
}

.head-nav-wrapper .head-nav-middle h1 {
  font-size: 40px;
  font-family: Lobster;
  padding: 10px;
  margin: 0;
}

.head-nav-wrapper .head-nav-right {
  background: #1985a1;
  height: 70px;
  padding: 0px;
}

.head-nav-wrapper .head-nav-right button {
  border-radius: 10px;
  font-size: 19px;
  background: #1985a1;
  border: none;
}

.head-nav-wrapper .head-nav-right button:hover {
  background: transparent;
  transform: scale(1.1);
  border: 1px solid white;
}

.head-nav-wrapper .head-nav-right i {
  padding: 5px;
}

.home-middle-section {
  padding: 0;
  margin: 0;
}

.home-middle-section .home-middle-left {
  background: #252626;
  color: #8ca2ad;
  height: 93vh;
}

.home-middle-section .home-middle-left img {
  width: 100%;
  padding: 10px;
}

.home-middle-section .home-middle-left ul {
  list-style: none;
  padding: 0px;
}

.home-middle-section .home-middle-left ul li {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  padding-left: 0;
  color: #8ca2ad;
  text-decoration: none;
}

.home-middle-section .home-middle-left ul li.active {
  background: #E2624B;
  color: white;
}

.home-middle-section .home-middle-left ul li:hover {
  background: #1985a1;
  color: white;
}

.home-middle-section .home-middle-middle {
  background: #E6EFF2;
  height: 94.7vh;
  overflow: scroll;
  padding: 30px;
}

.home-middle-section .home-middle-middle .homepage-box {
  background: #dcdcdd;
  box-shadow: 5px 5px 10px lightgrey;
  padding: 20px;
}

.home-middle-section .home-middle-middle .homepage-box h2 {
  padding: 10px;
}

.home-middle-section .home-middle-middle .home-middle-middle-readreview-inner {
  margin: 10px;
  padding: 10px;
  background: #dcdcdd;
  box-shadow: 5px 5px 10px lightgrey;
  line-height: 15px;
}

.home-middle-section .home-middle-middle .home-middle-middle-readreview-inner p {
  padding: 0;
  margin: 0;
}

.home-middle-section .home-middle-middle .home-middle-middle-readreview-inner .readreview-img img {
  height: 100px;
  width: 90px;
}

.home-middle-section .home-middle-middle .home-middle-middle-readreview-place {
  width: 100%;
  margin: 10px;
  padding: 10px;
  background: #dcdcdd;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-readreview-place img {
  height: 200px;
  width: 300px;
}

.home-middle-section .home-middle-middle .home-middle-middle-review {
  margin: 10px;
  padding: 10px;
  background: #dcdcdd;
  box-shadow: 5px 5px 10px lightgrey;
  overflow: hidden;
  line-height: 15px;
}

.home-middle-section .home-middle-middle .home-middle-middle-review h4 {
  padding: 0;
}

.home-middle-section .home-middle-middle .home-middle-middle-review p {
  margin: 0;
}

.home-middle-section .home-middle-middle .home-middle-middle-review h5 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 90px;
  white-space: nowrap;
}

.home-middle-section .home-middle-middle .home-middle-middle-review h5:hover, .home-middle-section .home-middle-middle .home-middle-middle-review h5:focus {
  white-space: normal;
  transition: all 0.9s ease;
}

.home-middle-section .home-middle-middle .home-middle-middle-review img {
  width: 100%;
  padding: 5px;
}

.home-middle-section .home-middle-middle .home-middle-middle-myreview {
  background: #dcdcdd;
  margin: 10px;
  height: 500px;
  width: 300px;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-myreview p {
  margin: 0;
}

.home-middle-section .home-middle-middle .home-middle-middle-myreview img {
  width: 100%;
  height: 200px;
}

.home-middle-section .home-middle-middle .home-middle-middle-myreview h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-myreview h5 {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends {
  background: #dcdcdd;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 10px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends h1:hover {
  overflow: visible;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends img {
  height: 200px;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review {
  margin: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  width: 300px;
  height: 350px;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h4, .home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h4:hover, .home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review h5:hover {
  overflow: visible;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review .read-review-button {
  background: #8ca2ad;
  color: white;
  border: 1px solid white;
}

.home-middle-section .home-middle-middle .home-middle-middle-search .home-middle-middle-search-review .post-review-button {
  background: #1985a1;
  color: white;
  border: 1px solid white;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile {
  padding: 10px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile img {
  width: 300px;
  height: 300px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile .friend-profile-name {
  color: #1985a1;
  font-size: 60px;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile .home-middle-middle-friendsreview {
  background: #dcdcdd;
  margin: 10px;
  box-shadow: 5px 5px 10px lightgrey;
}

.home-middle-section .home-middle-middle .home-middle-middle-friends-profile .home-middle-middle-friendsreview img {
  padding: 10px;
}

.home-middle-section .home-middle-right {
  background: #dcdcdd;
  height: 93vh;
  text-align: center;
}

.home-middle-section .home-middle-right h1 {
  color: #6A8795;
}

.home-middle-section .home-middle-right .home-each-friend {
  padding: 20px;
  background: #1985a1;
  border-radius: 10px;
  margin-top: 8px;
  color: white;
}

.home-middle-section .home-middle-right .home-each-friend img {
  width: 100%;
}

.input-group {
  z-index: 0;
}

.my-button {
  background: #1985a1;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
}

.invite-section {
  padding: 10px;
}

#invite-input {
  height: 40px;
  font-size: 20px;
}

#invite-friend-button {
  height: 40px;
  font-size: 20px;
  color: white;
}

#invite-friend-button:hover {
  color: white;
}

@media (max-width: 768px) {
  .head-nav-left {
    display: none;
  }
  .head-nav-right {
    display: none;
  }
  .home-middle-left {
    display: none;
  }
  .home-middle-section .home-middle-middle {
    overflow: visible;
  }
  .home-middle-right {
    display: none;
  }
}

.friend-button-changer {
  background: grey;
}

.middle-nav {
  font-size: 40px;
  color: #6A8795;
  padding-bottom: 20px;
}

.middle-nav .divider {
  border-left: 2px solid grey;
  padding: 5px;
}

.no-friends {
  display: none;
}
