.head-nav-wrapper {
  color: white;
  text-align: center;
  height: 70px;
}

.head-nav-wrapper .head-nav-left {
  background: #4CD2B9;
  height: 70px;
}

.head-nav-wrapper .head-nav-middle {
  background: #353942;
  height: 70px;
}

.head-nav-wrapper .head-nav-right {
  background: #E2624B;
  height: 70px;
}

.home-middle-section .home-middle-left {
  background: #353942;
  color: #8ca2ad;
  height: 100vh;
}

.home-middle-section .home-middle-left img {
  width: 100%;
  padding: 10px;
}

.home-middle-section .home-middle-left ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
}

.home-middle-section .home-middle-left ul li {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  padding-left: 0;
}

.home-middle-section .home-middle-left ul li:hover {
  background: #4CD2B9;
  color: white;
}

.home-middle-section .home-middle-middle {
  background: #E6EFF2;
  height: 100vh;
}

.home-middle-section .home-middle-right {
  background: #8ca2ad;
  height: 100vh;
  text-align: center;
}

.home-middle-section .home-middle-right h1 {
  color: #353942;
}

.home-middle-section .home-middle-right .home-each-friend {
  padding: 20px;
  background: #4CD2B9;
  border-radius: 10px;
  margin-top: 8px;
}

.home-middle-section .home-middle-right .home-each-friend img {
  width: 100%;
}
