.search-page-container{
    h3{
        font-size: 40px;
    }
}
.search-wrapper{
    padding: 10px;
    background: #0FAF9B;
    border-radius: 10px;
    input{
        padding: 10px 5px;
        border: 0;
    }
    button{
        background: #e54040;
        border: 1px solid white;
        color: white;
        width: 70px;
    }
}

.search-results{
    background: #15A3EB;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
