.search-page-container{
    background: #E6EFF2;
    h3{
        font-size: 40px;
    }
}
.search-wrapper{
    padding: 15px;
    background: #DCDCDD;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey
    input{
        padding: 15px;
        border: 0;
        margin-right: 20px;
    }
    label{
        padding: 5px;
    }
    button{
        margin-top: 5px;
        background: rgba(25, 133, 161, 1);
        border: 1px solid white;
        color: white;
        width: 80px;
        font-size: 18px;
    }
}
