.search-page-container {
  background: #E6EFF2;
}

.search-page-container h3 {
  font-size: 40px;
}

.search-wrapper {
  padding: 10px;
  background: #0FAF9B;
  border-radius: 10px;
}

.search-wrapper input {
  padding: 10px 5px;
  border: 0;
}

.search-wrapper button {
  background: #e54040;
  border: 1px solid white;
  color: white;
  width: 70px;
}

.search-results {
  padding: 10px;
  margin-top: 10px;
  background: white;
  border-radius: 10px 30px 10px 30px;
}
