.search-page-container {
  background: #E6EFF2;
}

.search-page-container h3 {
  font-size: 40px;
}

.search-wrapper {
  padding: 15px;
  background: #DCDCDD;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgrey input;
  box-shadow-padding: 15px;
  box-shadow-border: 0;
  box-shadow-margin-right: 20px;
}

.search-wrapper label {
  padding: 5px;
}

.search-wrapper button {
  margin-top: 5px;
  background: #1985a1;
  border: 1px solid white;
  color: white;
  width: 80px;
  font-size: 18px;
}
