.search-page-container {
  background: #E6EFF2;
}

.search-page-container h3 {
  font-size: 40px;
}

.search-wrapper {
  padding: 15px;
  background: #0FAF9B;
  border-radius: 10px;
}

.search-wrapper input {
  padding: 15px;
  border: 0;
  margin-right: 20px;
}

.search-wrapper label {
  padding: 5px;
}

.search-wrapper button {
  margin-top: 5px;
  background: #e54040;
  border: 1px solid white;
  color: white;
  width: 80px;
  font-size: 18px;
}
