<!DOCTYPE html>
<html>
<head>
  <title>Friend's Profile Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/FriendProfile.css" />

</head>
<body>
<div class="container-fluid friend-page">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2 ">
      <div class="col-sm-5 well friend-profile-pic">
        <img class="img-thumbnail" src="http://unsplash.it/300/300?random" alt="">
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 well friend-review">
          <div class="col-sm-4">
              <img class="img-circle" src="http://unsplash.it/300/300?random" alt="" />
          </div>
          <div class="col-sm-8">
              <h1>Jimmy John's</h1>
              <p>Dish: Veggie Sub</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 well friend-review">
          <div class="col-sm-4">
              <img class="img-circle" src="http://unsplash.it/300/300?random" alt="" />
          </div>
          <div class="col-sm-8">
              <h1>Jimmy John's</h1>
              <p>Dish: Veggie Sub</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 well friend-review">
          <div class="col-sm-4">
              <img class="img-circle" src="http://unsplash.it/300/300?random" alt="" />
          </div>
          <div class="col-sm-8">
              <h1>Jimmy John's</h1>
              <p>Dish: Veggie Sub</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
    </div>
  </div>
</div>
  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script type="text/javascript" src="global.js"></script>
</body>
</html>
