<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/LandingPage.css" />

</head>
<body>
    <div class="container-fluid landing-container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Grain of Salt</h1>
                    <h3>Reviews by your trusted network</h3>
                </div>
                <div class="col-sm-2 col-sm-offset-5">
                    <button id="signin" type="button" class="btn btn-primary btn-block">SignIn</button>
                </div>
                <div class="col-sm-2 col-sm-offset-5">
                    <button id="signup" type="button" class="btn btn-success btn-block">SignUp</button>
                </div>
        </div>
    </div>
  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script type="text/javascript" src="../../assets/javascripts/application.js"></script>
</body>
</html>
