<!DOCTYPE html>
<html>
<head>
  <title>SignIn Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/home.css" />

</head>
<body>
  <div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center fb-button">
        <button class="btn btn-primary">Signin with Facebook</button>
        <h4>or</h4>
        <hr />
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <label>Email</label>
          <input id="signInEmail" type="text" name="email" class="form-control" required/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="signInPassword" type="password" name="password" class="form-control" required/>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="#">Forget Password?</a>
          </div>
          <div class="col-sm-6 text-right">
            <button id="login" type="button" class="btn btn-success">Login</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script type="text/javascript" src="../../assets/javascripts/application.js"></script>
</body>
</html>
