<!DOCTYPE html>
<html>
<head>
  <title>SignUp Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/SignUp.css" />

</head>
<body>
    <div class="container-fluid signup-container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="signup-page-text">Grain of Salt</h1>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="avatar">Profile Picture</label>
                    <input type="file" id="profile-pic" name="profile-pic" class="form-control" required />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" id="cancel-button" class="btn btn-danger btn-block">Cancel</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" id="signup" class="btn btn-primary btn-block">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script type="text/javascript" src="../../assets/javascripts/application.js"></script>
</body>
</html>
